In [1]:
!pip install pycaret &> /dev/null

In [2]:
from pycaret.utils import version
version()

'2.2.2'

In [3]:
from pycaret.datasets import get_data

In [4]:
dataSets = get_data('index')

,Dataset,Data Types,Default Task,Target Variable 1,Target Variable 2,# Instances,# Attributes,Missing Values
0,anomaly,Multivariate,Anomaly Detection,None,None,1000,10,N
1,france,Multivariate,Association Rule Mining,InvoiceNo,Description,8557,8,N
2,germany,Multivariate,Association Rule Mining,InvoiceNo,Description,9495,8,N
3,bank,Multivariate,Classification (Binary),deposit,None,45211,17,N
4,blood,Multivariate,Classification (Binary),Class,None,748,5,N
5,cancer,Multivariate,Classification (Binary),Class,None,683,10,N
6,credit,Multivariate,Classification (Binary),default,None,24000,24,N
7,diabetes,Multivariate,Classification (Binary),Class variable,None,768,9,N
8,electrical_grid,Multivariate,Classification (Binary),stabf,None,10000,14,N
9,employee,Multivariate,Classification (Binary),left,None,14999,10,N
10,heart,Multivariate,Classification (Binary),DEATH,None,200,16,N
11,heart_disease,Multivariate,Classification (Binary),Disease,None,270,14,N
12,hepatitis,Multivariate,Classification (Binary),Class,None,154,32,Y
13,income,Multivariate,Classification (Binary),income >50K,None,32561,14,Y
14,juice,Multivariate,Classification (Binary),Purchase,None,1070,15,N
15,nba,Multivariate,Classification (Binary),TARGET_5Yrs,None,1340,21,N
16,wine,Multivariate,Classification (Binary),type,None,6498,13,N
17,telescope,Multivariate,Classification (Binary),Class,None,19020,11,N
18,titanic,Multivariate,Classification (Binary),Survived,None,891,11,Y
19,us_presidential_election_results,Multivariate,Classification (Binary),party_winner,None,497,7,N
20,glass,Multivariate,Classification (Multiclass),Type,None,214,10,N
21,iris,Multivariate,Classification (Multiclass),species,None,150,5,N
22,poker,Multivariate,Classification (Multiclass),CLASS,None,100000,11,N
23,questions,Multivariate,Classification (Multiclass),Next_Question,None,499,4,N
24,satellite,Multivariate,Classification (Multiclass),Class,None,6435,37,N
25,CTG,Multivariate,Classification (Multiclass),NSP,None,2129,40,Y
26,asia_gdp,Multivariate,Clustering,None,None,40,11,N
27,elections,Multivariate,Clustering,None,None,3195,54,Y
28,facebook,Multivariate,Clustering,None,None,7050,12,N
29,ipl,Multivariate,Clustering,None,None,153,25,N
30,jewellery,Multivariate,Clustering,None,None,505,4,N
31,mice,Multivariate,Clustering,None,None,1080,82,Y
32,migration,Multivariate,Clustering,None,None,233,12,N
33,perfume,Multivariate,Clustering,None,None,20,29,N
34,pokemon,Multivariate,Clustering,None,None,800,13,Y
35,population,Multivariate,Clustering,None,None,255,56,Y
36,public_health,Multivariate,Clustering,None,None,224,21,N
37,seeds,Multivariate,Clustering,None,None,210,7,N
38,wholesale,Multivariate,Clustering,None,None,440,8,N
39,tweets,Text,NLP,tweet,None,8594,2,N
40,amazon,Text,NLP / Classification,reviewText,None,20000,2,N
41,kiva,Text,NLP / Classification,en,None,6818,7,N
42,spx,Text,NLP / Regression,text,None,874,4,N
43,wikipedia,Text,NLP / Classification,Text,None,500,3,N
44,automobile,Multivariate,Regression,price,None,202,26,Y
45,bike,Multivariate,Regression,cnt,None,17379,15,N
46,boston,Multivariate,Regression,medv,None,506,14,N
47,concrete,Multivariate,Regression,strength,None,1030,9,N
48,diamond,Multivariate,Regression,Price,None,6000,8,N
49,energy,Multivariate,Regression,Heating Load,Cooling Load,768,10,N
50,forest,Multivariate,Regression,area,None,517,13,N
51,gold,Multivariate,Regression,Gold_T+22,None,2558,121,N
52,house,Multivariate,Regression,SalePrice,None,1461,81,Y
53,insurance,Multivariate,Regression,charges,None,1338,7,N
54,parkinsons,Multivariate,Regression,PPE,None,5875,22,N
55,traffic,Multivariate,Regression,traffic_volume,None,48204,8,N

In [5]:
diabetesDataSet = get_data("diabetes")  
print(type(diabetesDataSet))

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

<class 'pandas.core.frame.DataFrame'>

In [6]:
diabetesDataSet.columns

Index(['Number of times pregnant',
       'Plasma glucose concentration a 2 hours in an oral glucose tolerance test',
       'Diastolic blood pressure (mm Hg)', 'Triceps skin fold thickness (mm)',
       '2-Hour serum insulin (mu U/ml)',
       'Body mass index (weight in kg/(height in m)^2)',
       'Diabetes pedigree function', 'Age (years)', 'Class variable'],
      dtype='object')

In [7]:
print("type(diabetesDataSet)-->",type(diabetesDataSet))

type(diabetesDataSet)--> <class 'pandas.core.frame.DataFrame'>

In [8]:
print("diabetesDataSet.shape -->", diabetesDataSet.shape)
print("Rows     -->", diabetesDataSet.shape[0])  
print("Columns  -->", diabetesDataSet.shape[1])

diabetesDataSet.shape --> (768, 9)
Rows     --> 768
Columns  --> 9

In [9]:
diabetesDataSet.head()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [10]:
diabetesDataSet.loc[10:100 , ['Diabetes pedigree function','Age (years)']]

     Diabetes pedigree function  Age (years)
10                        0.191           30
11                        0.537           34
12                        1.441           57
13                        0.398           59
14                        0.587           51
..                          ...          ...
96                        0.130           24
97                        0.323           22
98                        0.356           23
99                        0.325           31
100                       1.222           33

[91 rows x 2 columns]

In [11]:
diabetesDataSet.iloc[20:30, 1:5]

,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml)
20,126,88,41,235
21,99,84,0,0
22,196,90,0,0
23,119,80,35,0
24,143,94,33,146
25,125,70,26,115
26,147,76,0,0
27,97,66,15,140
28,145,82,19,110
29,117,92,0,0

In [12]:
diabetesDataSet.mean()

Number of times pregnant                                                      3.845052
Plasma glucose concentration a 2 hours in an oral glucose tolerance test    120.894531
Diastolic blood pressure (mm Hg)                                             69.105469
Triceps skin fold thickness (mm)                                             20.536458
2-Hour serum insulin (mu U/ml)                                               79.799479
Body mass index (weight in kg/(height in m)^2)                               31.992578
Diabetes pedigree function                                                    0.471876
Age (years)                                                                  33.240885
Class variable                                                                0.348958
dtype: float64

In [13]:
diabetesDataSet.max()

Number of times pregnant                                                     17.00
Plasma glucose concentration a 2 hours in an oral glucose tolerance test    199.00
Diastolic blood pressure (mm Hg)                                            122.00
Triceps skin fold thickness (mm)                                             99.00
2-Hour serum insulin (mu U/ml)                                              846.00
Body mass index (weight in kg/(height in m)^2)                               67.10
Diabetes pedigree function                                                    2.42
Age (years)                                                                  81.00
Class variable                                                                1.00
dtype: float64

In [14]:
diabetesDataSet.isnull().sum()

Number of times pregnant                                                    0
Plasma glucose concentration a 2 hours in an oral glucose tolerance test    0
Diastolic blood pressure (mm Hg)                                            0
Triceps skin fold thickness (mm)                                            0
2-Hour serum insulin (mu U/ml)                                              0
Body mass index (weight in kg/(height in m)^2)                              0
Diabetes pedigree function                                                  0
Age (years)                                                                 0
Class variable                                                              0
dtype: int64

In [15]:
diabetesDataSet.dropna(axis = 'columns')

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [16]:
diabetesDataSet.fillna(0)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0