In [1]:
!pip install pycaret &> /dev/null

In [2]:
from pycaret.utils import version
version()

'2.2.2'

In [3]:
from pycaret.datasets import get_data

In [4]:
DS= get_data('index')

,Dataset,Data Types,Default Task,Target Variable 1,Target Variable 2,# Instances,# Attributes,Missing Values
0,anomaly,Multivariate,Anomaly Detection,None,None,1000,10,N
1,france,Multivariate,Association Rule Mining,InvoiceNo,Description,8557,8,N
2,germany,Multivariate,Association Rule Mining,InvoiceNo,Description,9495,8,N
3,bank,Multivariate,Classification (Binary),deposit,None,45211,17,N
4,blood,Multivariate,Classification (Binary),Class,None,748,5,N
5,cancer,Multivariate,Classification (Binary),Class,None,683,10,N
6,credit,Multivariate,Classification (Binary),default,None,24000,24,N
7,diabetes,Multivariate,Classification (Binary),Class variable,None,768,9,N
8,electrical_grid,Multivariate,Classification (Binary),stabf,None,10000,14,N
9,employee,Multivariate,Classification (Binary),left,None,14999,10,N
10,heart,Multivariate,Classification (Binary),DEATH,None,200,16,N
11,heart_disease,Multivariate,Classification (Binary),Disease,None,270,14,N
12,hepatitis,Multivariate,Classification (Binary),Class,None,154,32,Y
13,income,Multivariate,Classification (Binary),income >50K,None,32561,14,Y
14,juice,Multivariate,Classification (Binary),Purchase,None,1070,15,N
15,nba,Multivariate,Classification (Binary),TARGET_5Yrs,None,1340,21,N
16,wine,Multivariate,Classification (Binary),type,None,6498,13,N
17,telescope,Multivariate,Classification (Binary),Class,None,19020,11,N
18,titanic,Multivariate,Classification (Binary),Survived,None,891,11,Y
19,us_presidential_election_results,Multivariate,Classification (Binary),party_winner,None,497,7,N
20,glass,Multivariate,Classification (Multiclass),Type,None,214,10,N
21,iris,Multivariate,Classification (Multiclass),species,None,150,5,N
22,poker,Multivariate,Classification (Multiclass),CLASS,None,100000,11,N
23,questions,Multivariate,Classification (Multiclass),Next_Question,None,499,4,N
24,satellite,Multivariate,Classification (Multiclass),Class,None,6435,37,N
25,CTG,Multivariate,Classification (Multiclass),NSP,None,2129,40,Y
26,asia_gdp,Multivariate,Clustering,None,None,40,11,N
27,elections,Multivariate,Clustering,None,None,3195,54,Y
28,facebook,Multivariate,Clustering,None,None,7050,12,N
29,ipl,Multivariate,Clustering,None,None,153,25,N
30,jewellery,Multivariate,Clustering,None,None,505,4,N
31,mice,Multivariate,Clustering,None,None,1080,82,Y
32,migration,Multivariate,Clustering,None,None,233,12,N
33,perfume,Multivariate,Clustering,None,None,20,29,N
34,pokemon,Multivariate,Clustering,None,None,800,13,Y
35,population,Multivariate,Clustering,None,None,255,56,Y
36,public_health,Multivariate,Clustering,None,None,224,21,N
37,seeds,Multivariate,Clustering,None,None,210,7,N
38,wholesale,Multivariate,Clustering,None,None,440,8,N
39,tweets,Text,NLP,tweet,None,8594,2,N
40,amazon,Text,NLP / Classification,reviewText,None,20000,2,N
41,kiva,Text,NLP / Classification,en,None,6818,7,N
42,spx,Text,NLP / Regression,text,None,874,4,N
43,wikipedia,Text,NLP / Classification,Text,None,500,3,N
44,automobile,Multivariate,Regression,price,None,202,26,Y
45,bike,Multivariate,Regression,cnt,None,17379,15,N
46,boston,Multivariate,Regression,medv,None,506,14,N
47,concrete,Multivariate,Regression,strength,None,1030,9,N
48,diamond,Multivariate,Regression,Price,None,6000,8,N
49,energy,Multivariate,Regression,Heating Load,Cooling Load,768,10,N
50,forest,Multivariate,Regression,area,None,517,13,N
51,gold,Multivariate,Regression,Gold_T+22,None,2558,121,N
52,house,Multivariate,Regression,SalePrice,None,1461,81,Y
53,insurance,Multivariate,Regression,charges,None,1338,7,N
54,parkinsons,Multivariate,Regression,PPE,None,5875,22,N
55,traffic,Multivariate,Regression,traffic_volume,None,48204,8,N

In [5]:
bostonDataSet = get_data("boston") 
print(type(bostonDataSet))

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

<class 'pandas.core.frame.DataFrame'>

In [6]:
bostonDataSet.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [7]:
bostonDataSet.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [8]:
print("type(bostonDataSet)-->",type(bostonDataSet))

type(bostonDataSet)--> <class 'pandas.core.frame.DataFrame'>

In [9]:
print("bostonDataSet.shape -->", bostonDataSet.shape)
print("Rows     -->", bostonDataSet.shape[0])  
print("Columns  -->", bostonDataSet.shape[1])

bostonDataSet.shape --> (506, 14)
Rows     --> 506
Columns  --> 14

In [10]:
bostonDataSet.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [11]:
bostonDataSet.loc[10:100 , ['crim','nox']]

        crim    nox
10   0.22489  0.524
11   0.11747  0.524
12   0.09378  0.524
13   0.62976  0.538
14   0.63796  0.538
..       ...    ...
96   0.11504  0.445
97   0.12083  0.445
98   0.08187  0.445
99   0.06860  0.445
100  0.14866  0.520

[91 rows x 2 columns]

In [12]:
bostonDataSet.iloc[20:30, 1:5]

     zn  indus  chas    nox
20  0.0   8.14     0  0.538
21  0.0   8.14     0  0.538
22  0.0   8.14     0  0.538
23  0.0   8.14     0  0.538
24  0.0   8.14     0  0.538
25  0.0   8.14     0  0.538
26  0.0   8.14     0  0.538
27  0.0   8.14     0  0.538
28  0.0   8.14     0  0.538
29  0.0   8.14     0  0.538

In [13]:
bostonDataSet.mean()

crim         3.613524
zn          11.363636
indus       11.136779
chas         0.069170
nox          0.554695
rm           6.284634
age         68.574901
dis          3.795043
rad          9.549407
tax        408.237154
ptratio     18.455534
black      356.674032
lstat       12.653063
medv        22.532806
dtype: float64

In [14]:
bostonDataSet.max()

crim        88.9762
zn         100.0000
indus       27.7400
chas         1.0000
nox          0.8710
rm           8.7800
age        100.0000
dis         12.1265
rad         24.0000
tax        711.0000
ptratio     22.0000
black      396.9000
lstat       37.9700
medv        50.0000
dtype: float64

In [15]:
bostonDataSet.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
black      0
lstat      0
medv       0
dtype: int64

In [16]:
bostonDataSet.dropna(axis = 'columns')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [17]:
bostonDataSet.fillna(0)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [18]:

import matplotlib.pyplot as plt

x = diabetesDataSet['Age (years)']

plt.xlabel('Age Range')                                   
plt.ylabel('Frequency')


plt.hist(x, color = "red", bins=50)

plt.show()

NameError: name 'diabetesDataSet' is not defined